@charset "utf-8";
/* CSS Document */

table {
	width: 1300px;
	height: 40px;
	text-align: center;
	background: url("");
	float: none;
}
a:link,a:visited,a:active{text-decoration:none;color:#000000;}
a:hover{color:#ED0D11;border-bottom: 5px solid #FF0000}
	
